<section id="sponsors" class="section-white">
  <div class="wrapper">
    <h1>{{ site.data.t[page.lang].company.type.sponsors }}</h1>
    <h3>{{ site.data.t[page.lang].company.type.premium }}</h3>
    <ul class="premium">
      {%- for company in site.data.companies.premium_sponsors -%}
      <li class="{{ company.name | downcase | replace: ' ', '' |  }}">
        <a href="{{ company.link }}" target="_blank">
          <img
            src="{{ site.path.company_images }}{{ company.image }}"
            alt="{{ company.name }}"
            title="{{ site.data.t[page.lang].communities.logo_from }} {{
              company.name
            }}"
            style="width: {{ company.size  }};"
          />
        </a>
      </li>
      {%- endfor -%}
    </ul>
    <h3>{{ site.data.t[page.lang].company.type.standard }}</h3>
    <ul>
      {%- for company in site.data.companies.sponsors -%}
      <li class="{{ company.name | downcase | replace: ' ', '' |  }}">
        <a href="{{ company.link }}" target="_blank">
          <img
            src="{{ site.path.company_images }}{{ company.image }}"
            alt="{{ company.name }}"
            title="{{ site.data.t[page.lang].communities.logo_from }} {{
              company.name
            }}"
            style="width: {{ company.size  }};"
          />
        </a>
      </li>
      {%- endfor -%}
    </ul>
    <!-- <a href="mailto:vlctechfest@gmail.com?subject=Patrocinio%20VLCTechFest">{{ site.data.t[page.lang].company.type.claim }}</a> -->
  </div>

</section>
<section id="companies" class="companies">
  <div class="wrapper">
    <ul>
      {%- assign types = "organizers,collaborators" | split: "," -%}
      {%- for type in types -%}
      <li class="type">
        <span>{{ site.data.t[page.lang].company.type[type] }}</span>
        <ul>
          {%- for company in site.data.companies[type] -%}
          <li>
            <a href="{{ company.link }}" target="_blank">
              <img
                src="{{ site.path.company_images }}{{ company.image }}"
                alt="{{ company.name }}"
                title="{{ site.data.t[page.lang].communities.logo_from }} {{
                  company.name
                }}"
                style="width: {{ company.size  }};"
              />
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</section>
